node-red_config/20210425_node_red_config.json
[{"id":"ee0751c5.a910e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c224616c.d028c","type":"mqtt in","z":"ee0751c5.a910e","name":"","topic":"tele/rfbridge/RESULT","qos":"2","datatype":"auto","broker":"8928ae01.2ded1","x":140,"y":120,"wires":[["6aade0bb.5a47","7c934baa.41a434"]]},{"id":"6aade0bb.5a47","type":"function","z":"ee0751c5.a910e","name":"get rf code","func":"const payload = JSON.parse(msg.payload);\nconst rf_code = payload.RfReceived.Data;\nconst messages = global.get('device_messages');\nconst message = messages[rf_code];\nconst time_stamp = payload.Time;\n\nreturn { rf_code: rf_code, device_message: message, time_stamp: time_stamp };","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["d6cdbea7.2c215"]]},{"id":"cadb84ab.70bc18","type":"switch","z":"ee0751c5.a910e","name":"armed?","property":"status","propertyType":"global","rules":[{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"armed_stay","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":140,"y":200,"wires":[["3ed4f33e.06b94c"],["7ad871b2.51903"],["7ad871b2.51903"]]},{"id":"3ed4f33e.06b94c","type":"function","z":"ee0751c5.a910e","name":"alarm is inactive","func":"return { payload: { action: 'notify', notification: msg.device_message } };","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["79be6cba.0d37d4"]]},{"id":"d6cdbea7.2c215","type":"switch","z":"ee0751c5.a910e","name":"known device?","property":"device_message","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":120,"wires":[["7e356c27.430394"],["cadb84ab.70bc18","de9aab6a.974088"]]},{"id":"7e356c27.430394","type":"function","z":"ee0751c5.a910e","name":"unknown device","func":"console.log(\"KEATON\", msg);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["c49f6cdd.2b46d"]]},{"id":"7ad871b2.51903","type":"change","z":"ee0751c5.a910e","name":"is_alerting = true","rules":[{"t":"set","p":"is_alerting","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[["62d45588.ab4aec"]]},{"id":"62d45588.ab4aec","type":"function","z":"ee0751c5.a910e","name":"alert","func":"var device_message = msg.device_message;\n\nreturn { payload: { action: \"alert\", device_message: device_message  } }\n","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["79be6cba.0d37d4"]]},{"id":"79be6cba.0d37d4","type":"websocket out","z":"ee0751c5.a910e","name":"websocket out","server":"623db373.9cd0cc","client":"","x":1020,"y":260,"wires":[]},{"id":"7c934baa.41a434","type":"debug","z":"ee0751c5.a910e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":60,"wires":[]},{"id":"f5ebe078.debac","type":"mosca in","z":"ee0751c5.a910e","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":40,"wires":[[]]},{"id":"de9aab6a.974088","type":"function","z":"ee0751c5.a910e","name":"set sensor status","func":"const sensors = global.get('sensors');\nconst rf_code = msg.rf_code;\nconst sensor_code = rf_code.slice(0, - 1);\nconst sensor_indicator = rf_code.split(\"\").pop();\nconst old_sensor = sensors[sensor_code];\n\nconst sensor_status = sensor_indicator === 'E' ? 'Closed' : 'Open';\n\nconst sensor = { name: old_sensor[\"name\"], status: sensor_status };\n\nsensors[sensor_code] = sensor;\nglobal.set('sensors', sensors);\n\n\nreturn { payload: { action: 'sensor_status', id: sensor_code, sensor: sensor } };","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["79be6cba.0d37d4"]]},{"id":"9c8a0037.d7977","type":"http in","z":"ee0751c5.a910e","name":"get context","url":"/context","method":"get","upload":false,"swaggerDoc":"","x":200,"y":700,"wires":[["68491644.fb69f8"]]},{"id":"68491644.fb69f8","type":"function","z":"ee0751c5.a910e","name":"handle get_context","func":"// const status = global.get(\"is_armed\") ? \"armed\" : \"disarmed\";\nconst status = global.get(\"status\");\nconst alert = global.get(\"is_alerting\");\nconst sensors = global.get(\"sensors\");\n\nmsg.payload = { action: \"context\", status: status, alert: alert, sensors: sensors }\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["2940305c.b6fa"]]},{"id":"2940305c.b6fa","type":"http response","z":"ee0751c5.a910e","name":"return context","statusCode":"","headers":{},"x":580,"y":700,"wires":[]},{"id":"c49f6cdd.2b46d","type":"postgrestor","z":"ee0751c5.a910e","name":"insert unknown_codes","query":"INSERT INTO \"public\".\"unknown_codes\" (time_received, code) VALUES ('{{msg.time_stamp}}', '{{msg.rf_code}}');","postgresDB":"7aee71f.610fe9","output":true,"outputs":1,"x":920,"y":80,"wires":[[]]},{"id":"eca03373.ac891","type":"inject","z":"ee0751c5.a910e","name":"At 2am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"x":400,"y":380,"wires":[["bc91b4a1.dbfb88"]]},{"id":"bc91b4a1.dbfb88","type":"function","z":"ee0751c5.a910e","name":"Automatically arm","func":"return { payload: { action: \"set_status\", value: \"armed_stay\", silent: true } };","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["79be6cba.0d37d4"]]},{"id":"b3ec3e99.3c5f2","type":"inject","z":"ee0751c5.a910e","name":"At 7am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":380,"y":440,"wires":[["3d0a4111.5fb9ce"]]},{"id":"3d0a4111.5fb9ce","type":"function","z":"ee0751c5.a910e","name":"Automatically disarm","func":"return { payload: { action: \"set_status\", value: \"disarmed\", silent: true } };","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["79be6cba.0d37d4"]]},{"id":"1d8afd26.3a58e3","type":"http in","z":"ee0751c5.a910e","name":"set status","url":"/set-status","method":"post","upload":false,"swaggerDoc":"","x":200,"y":620,"wires":[["69e0f609.24f5e8"]]},{"id":"69e0f609.24f5e8","type":"function","z":"ee0751c5.a910e","name":"handle set_status","func":"const pin = msg.payload.pin;\nconst status = msg.payload.status;\n\nif (pin === \"1969\") {\n    global.set('status', status);\n    msg.status = status;\n    return [msg, null];\n}\nmsg.error = \"Invalid PIN\";\nreturn[null, msg];","outputs":2,"noerr":0,"x":370,"y":620,"wires":[["b059764f.550808","e0f8595.7d8bca8"],["bff05443.afa9f8"]]},{"id":"b059764f.550808","type":"http response","z":"ee0751c5.a910e","name":"return success","statusCode":"200","headers":{},"x":580,"y":600,"wires":[]},{"id":"bff05443.afa9f8","type":"http response","z":"ee0751c5.a910e","name":"return bad pin","statusCode":"401","headers":{},"x":580,"y":640,"wires":[]},{"id":"e0f8595.7d8bca8","type":"function","z":"ee0751c5.a910e","name":"update status","func":"msg.payload.action = 'set_status'\nmsg.payload.value = msg.payload.status\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["79be6cba.0d37d4","d7c528bf.e39e18"]]},{"id":"d7c528bf.e39e18","type":"debug","z":"ee0751c5.a910e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":560,"wires":[]},{"id":"8928ae01.2ded1","type":"mqtt-broker","z":"","name":"uh?","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"623db373.9cd0cc","type":"websocket-listener","z":"","path":"/","wholemsg":"false"},{"id":"7aee71f.610fe9","type":"postgresDB","z":"","name":"home_security","host":"127.0.0.1","port":"5432","database":"home_security","ssl":false,"max":"10","min":1,"idle":"1000"}]