node-red_config/node_red_config_10-9-2020.json
[{"id":"ee0751c5.a910e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c224616c.d028c","type":"mqtt in","z":"ee0751c5.a910e","name":"","topic":"tele/rfbridge/RESULT","qos":"2","datatype":"auto","broker":"8928ae01.2ded1","x":140,"y":120,"wires":[["6aade0bb.5a47","7c934baa.41a434"]]},{"id":"6aade0bb.5a47","type":"function","z":"ee0751c5.a910e","name":"get rf code","func":"const payload = JSON.parse(msg.payload);\nconst rf_code = payload.RfReceived.Data;\nconst messages = global.get('device_messages');\nconst message = messages[rf_code];\nconst time_stamp = payload.Time;\n\nreturn { rf_code: rf_code, device_message: message, time_stamp: time_stamp };","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["d6cdbea7.2c215"]]},{"id":"cadb84ab.70bc18","type":"switch","z":"ee0751c5.a910e","name":"armed?","property":"is_armed","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":200,"wires":[["3ed4f33e.06b94c"],["7ad871b2.51903"]]},{"id":"3ed4f33e.06b94c","type":"function","z":"ee0751c5.a910e","name":"alarm is inactive","func":"return { payload: { action: 'notify', notification: msg.device_message } };","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["79be6cba.0d37d4"]]},{"id":"d6cdbea7.2c215","type":"switch","z":"ee0751c5.a910e","name":"known device?","property":"device_message","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":120,"wires":[["7e356c27.430394"],["cadb84ab.70bc18","de9aab6a.974088"]]},{"id":"7e356c27.430394","type":"function","z":"ee0751c5.a910e","name":"unknown device","func":"console.log(\"KEATON\", msg);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["c49f6cdd.2b46d"]]},{"id":"7ad871b2.51903","type":"change","z":"ee0751c5.a910e","name":"is_alerting = true","rules":[{"t":"set","p":"is_alerting","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":320,"wires":[["62d45588.ab4aec"]]},{"id":"62d45588.ab4aec","type":"function","z":"ee0751c5.a910e","name":"payload : (","func":"var device_message = msg.device_message\n\nreturn { payload: device_message };","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["6eddeda4.7590a4"]]},{"id":"47a950c0.0347e","type":"websocket in","z":"ee0751c5.a910e","name":"websocket in","server":"7fc8cb7c.3cf1f4","client":"","x":490,"y":400,"wires":[["c691e9f1.4703d8"]]},{"id":"79be6cba.0d37d4","type":"websocket out","z":"ee0751c5.a910e","name":"websocket out","server":"ba5b6b1.ee40098","client":"","x":1020,"y":260,"wires":[]},{"id":"c691e9f1.4703d8","type":"function","z":"ee0751c5.a910e","name":"handle client request","func":"const payload = JSON.parse(msg.payload);\nconst action = payload.action;\nconst commId = payload.commId;\nconst pin = payload.pin;\nconst valid_pin = '1969';\nconst sensors = global.get(\"sensors\");\n\nif (action === \"arm\") {\n    if (pin === valid_pin) {\n         global.set(\"is_armed\", true);\n        return { payload: { action: \"set_status\", value: \"armed\" } };\n    }\n    \n    return { payload: { error: \"Invalid PIN\", commId: commId } };\n}\n\nif (action === \"disarm\") {\n    if (pin === valid_pin) {\n        global.set(\"is_armed\", false);\n        global.set(\"is_alerting\", false);\n        return { payload: { action: \"set_status\", value: \"disarmed\"} };\n    }\n    \n    return { payload: { error: \"Invalid PIN\", commId: commId } };\n}\n\nif (action === \"alarm\") {\n    return { payload: { action: \"setAlarm\", value: true} };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["79be6cba.0d37d4"]]},{"id":"6eddeda4.7590a4","type":"function","z":"ee0751c5.a910e","name":"alert client","func":"return { payload: { action: \"alert\", device_message: msg.payload  } }\n","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["79be6cba.0d37d4"]]},{"id":"7c934baa.41a434","type":"debug","z":"ee0751c5.a910e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":60,"wires":[]},{"id":"f5ebe078.debac","type":"mosca in","z":"ee0751c5.a910e","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":40,"wires":[[]]},{"id":"de9aab6a.974088","type":"function","z":"ee0751c5.a910e","name":"set sensor status","func":"const sensors = global.get('sensors');\nconst rf_code = msg.rf_code;\nconst sensor_code = rf_code.slice(0, - 1);\nconst sensor_indicator = rf_code.split(\"\").pop();\nconst old_sensor = sensors[sensor_code];\n\nconst sensor_status = sensor_indicator === 'E' ? 'Closed' : 'Open';\n\nconst sensor = { name: old_sensor[\"name\"], status: sensor_status };\n\nsensors[sensor_code] = sensor;\nglobal.set('sensors', sensors);\n\n\nreturn { payload: { action: 'sensor_status', id: sensor_code, sensor: sensor } };","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["79be6cba.0d37d4"]]},{"id":"9c8a0037.d7977","type":"http in","z":"ee0751c5.a910e","name":"get context","url":"/context","method":"get","upload":false,"swaggerDoc":"","x":100,"y":600,"wires":[["68491644.fb69f8"]]},{"id":"68491644.fb69f8","type":"function","z":"ee0751c5.a910e","name":"handle request","func":"const status = global.get(\"is_armed\") ? \"armed\" : \"disarmed\";\nconst alert = global.get(\"is_alerting\");\nconst sensors = global.get(\"sensors\");\n\nmsg.payload = { action: \"context\", status: status, alert: alert, sensors: sensors }\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["2940305c.b6fa"]]},{"id":"2940305c.b6fa","type":"http response","z":"ee0751c5.a910e","name":"return context","statusCode":"","headers":{},"x":480,"y":600,"wires":[]},{"id":"c49f6cdd.2b46d","type":"postgrestor","z":"ee0751c5.a910e","name":"insert unknown_codes","query":"INSERT INTO \"public\".\"unknown_codes\" (time_received, code) VALUES ('{{msg.time_stamp}}', '{{msg.rf_code}}');","postgresDB":"7aee71f.610fe9","output":true,"outputs":1,"x":920,"y":80,"wires":[[]]},{"id":"eca03373.ac891","type":"inject","z":"ee0751c5.a910e","name":"At 2am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"x":500,"y":480,"wires":[["bc91b4a1.dbfb88"]]},{"id":"bc91b4a1.dbfb88","type":"function","z":"ee0751c5.a910e","name":"Automatically arm","func":"global.set(\"is_armed\", true);\nreturn { payload: { action: \"set_status\", value: \"armed\", silent: true } };","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["79be6cba.0d37d4"]]},{"id":"b3ec3e99.3c5f2","type":"inject","z":"ee0751c5.a910e","name":"At 7am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":500,"y":540,"wires":[["3d0a4111.5fb9ce"]]},{"id":"3d0a4111.5fb9ce","type":"function","z":"ee0751c5.a910e","name":"Automatically disarm","func":"global.set(\"is_armed\", false);\n\nreturn { payload: { action: \"set_status\", value: \"disarmed\", silent: true } };","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["79be6cba.0d37d4"]]},{"id":"8928ae01.2ded1","type":"mqtt-broker","z":"","name":"uh?","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fc8cb7c.3cf1f4","type":"websocket-listener","z":"","path":"/send","wholemsg":"false"},{"id":"ba5b6b1.ee40098","type":"websocket-listener","z":"","path":"/receive","wholemsg":"false"},{"id":"7aee71f.610fe9","type":"postgresDB","z":"","name":"home_security","host":"127.0.0.1","port":"5432","database":"home_security","ssl":false,"max":"10","min":1,"idle":"1000"}]